<include src="../templates/html-header.html" path=".."></include>
<body>
  <div
    class="aui-wrapper aui-page--index"
    :class="[
      'aui-header--' + headerSkin,
      'aui-aside--' + asideSkin,
      {
        'aui-header--fixed': headerFixed,
        'aui-aside--fixed': asideFixed,
        'aui-aside--fold': asideFold,
        'aui-aside-control--fixed': asideControlFixed,
        'aui-aside-control--open': asideControlOpen,
        'aui-main-tabs__header--fixed': mainTabsHeaderFixed
      }
    ]"
    v-loading.fullscreen.lock="loading"
    element-loading-text="拼命加载中">
    <template v-if="!loading">
      <!-- aui-header -->
      <include src="../templates/layout-header.html"></include>
      <!-- aui-aside -->
      <include src="../templates/layout-aside.html"></include>
      <!-- aui-aside-control -->
      <include src="../templates/layout-aside-control.html"></include>
      <!-- aui-main -->
      <main class="aui-main">
        <div class="aui-main__hd">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>Dashboard</el-breadcrumb-item>
            <el-breadcrumb-item>首页</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="aui-main__bd">
          <el-row :gutter="15">
            <el-col :span="16">
              <div class="index-section">
                <el-row :gutter="15">
                  <el-col :span="10">
                    <div class="aui-panel index-security-warning">
                      <div class="aui-panel__hd">安全预警</div>
                      <el-row :gutter="10" class="aui-panel__bd">
                        <el-col :span="8">
                          <div class="index-block">
                            <div class="index-block__bd"><em class="index-block__value">0</em></div>
                            <div class="index-block__hd">紧急事件</div>
                          </div>
                        </el-col>
                        <el-col :span="8">
                          <div class="index-block">
                            <div class="index-block__bd"><em class="index-block__value">0</em></div>
                            <div class="index-block__hd">漏洞</div>
                          </div>
                        </el-col>
                        <el-col :span="8">
                          <div class="index-block">
                            <div class="index-block__bd"><em class="index-block__value">0</em></div>
                            <div class="index-block__hd">攻击</div>
                          </div>
                        </el-col>
                      </el-row>
                    </div>
                  </el-col>
                  <el-col :span="7">
                    <div class="aui-panel index-security-protect">
                      <div class="aui-panel__hd">安全防护</div>
                      <div class="aui-panel__bd">
                        <div class="index-block index-block--level">
                          <div class="index-block__hd">主机安全</div>
                          <div class="index-block__bd"><em class="index-block__value">0</em>件</div>
                        </div>
                        <div class="index-block index-block--level">
                          <div class="index-block__hd">WEB 攻击</div>
                          <div class="index-block__bd"><a href="#">购买网络安全</a></div>
                        </div>
                      </div>
                    </div>
                  </el-col>
                  <el-col :span="7">
                    <div class="aui-panel index-undo">
                      <div class="aui-panel__hd">待办事项</div>
                      <div class="aui-panel__bd">
                        <a href="#" class="index-block index-block--level">
                          <div class="index-block__hd">工单</div>
                          <div class="index-block__bd"><em class="index-block__value">0</em></div>
                        </a>
                        <a href="#" class="index-block index-block--level">
                          <div class="index-block__hd">续费</div>
                          <div class="index-block__bd"><em class="index-block__value">0</em></div>
                        </a>
                        <a href="#" class="index-block index-block--level">
                          <div class="index-block__hd">未支付订单</div>
                          <div class="index-block__bd"><em class="index-block__value">0</em></div>
                        </a>
                      </div>
                    </div>
                  </el-col>
                </el-row>
              </div>
              <div class="index-section">
                <div class="aui-panel index-recent">
                  <div class="aui-panel__hd clearfix">
                    <span>最近使用的产品</span>
                    <a href="#" class="f-right fz-xs">
                      <span class="va-middle">操作日志</span>
                      <svg class="icon-svg fz-base" aria-hidden="true"><use xlink:href="#icon-time-circle"></use></svg>
                    </a>
                  </div>
                  <div class="aui-panel__bd">
                    <el-row :gutter="15">
                      <el-col :span="8">
                        <a href="#" class="index-block index-block--level">
                          <div class="index-block__bd">Web 应用防火墙（网络安全）</div>
                        </a>
                      </el-col>
                      <el-col :span="8">
                        <a href="#" class="index-block index-block--level">
                          <div class="index-block__bd">负载均衡</div>
                        </a>
                      </el-col>
                      <el-col :span="8">
                        <a href="#" class="index-block index-block--level">
                          <div class="index-block__bd">云服务器 ECS</div>
                        </a>
                      </el-col>
                      <el-col :span="8">
                        <a href="#" class="index-block index-block--level">
                          <div class="index-block__bd">对象存储 OSS</div>
                        </a>
                      </el-col>
                      <el-col :span="8">
                        <a href="#" class="index-block index-block--level">
                          <div class="index-block__bd">云监控</div>
                        </a>
                      </el-col>
                    </el-row>
                  </div>
                </div>
              </div>
              <div class="index-section">
                <div class="aui-panel index-personal">
                  <div class="aui-panel__bd">
                    <el-tabs class="aui-tabs" v-model="indexPersonalTabsActive">
                      <el-tab-pane class="index-product" label="我的资源" name="1">
                        <el-row :gutter="15">
                          <el-col :span="8">
                            <dl class="index-product__list">
                              <dt>数据库</dt>
                              <dd><a href="#">云数据库 HybridDB for MySQL</a></dd>
                              <dd><a href="#">云数据库 HBase 版</dd>
                              <dd><a href="#">云数据库 HybridDB for PostgreSQL</a></dd>
                              <dd><a href="#">数据传输服务 DTS</a></dd>
                            </dl>
                            <dl class="index-product__list">
                              <dt>分析</dt>
                              <dd><a href="#">云数据库 HybridDB for PostgreSQL</a></dd>
                            </dl>
                            <dl class="index-product__list">
                              <dt>大数据（数加）</dt>
                              <dd><a href="#">DataWorks</a></dd>
                              <dd><a href="#">机器学习</a></dd>
                              <dd><a href="#">数据集成</a></dd>
                              <dd><a href="#">阿里云 Elasticsearch</a></dd>
                            </dl>
                          </el-col>
                          <el-col :span="8">
                            <dl class="index-product__list">
                              <dt>存储与CDN</dt>
                              <dd><a href="#">CDN</a></dd>
                            </dl>
                            <dl class="index-product__list">
                              <dt>域名与网站（万网）</dt>
                              <dd><a href="#">域名</a></dd>
                              <dd><a href="#">云解析 DNS</a></dd>
                              <dd><a href="#">弹性 Web 托管</a></dd>
                            </dl>
                          </el-col>
                          <el-col :span="8">
                            <dl class="index-product__list">
                              <dt>网络</dt>
                              <dd><a href="#">CDN</a></dd>
                            </dl>
                            <dl class="index-product__list">
                              <dt>应用服务</dt>
                              <dd><a href="#">云效</a></dd>
                            </dl>
                            <dl class="index-product__list">
                              <dt>我的服务</dt>
                              <dd><a href="#">尊享服务</a></dd>
                            </dl>
                          </el-col>
                        </el-row>
                        <a href="#" class="index-product__fold">
                          <span class="va-middle">收起更多产品</span>
                          <svg class="icon-svg fz-base" aria-hidden="true"><use xlink:href="#icon-down"></use></svg>
                        </a>
                      </el-tab-pane>
                      <el-tab-pane class="index-consume" label="我的消费" name="2">
                        11
                      </el-tab-pane>
                      <el-tab-pane class="index-ambassador" label="推荐返利" name="3">
                        11
                      </el-tab-pane>
                    </el-tabs>
                  </div>
                </div>
              </div>
            </el-col>
            <el-col :span="8">
              <div class="index-section">
                <div class="aui-panel index-notice">
                  <div class="aui-panel__bd">
                    <el-tabs class="aui-tabs aui-tabs--flex" v-model="indexNoticeTabsActive">
                      <el-tab-pane label="全部公告" name="1">
                        <ul class="index-notice__list">
                          <li><a href="#">【漏洞预警】最新Apache Struts远程代码执行漏洞(CVE-2016-1000031)</a></li>
                          <li><a href="#">【漏洞预警】最新Apache Struts远程代码执行漏洞(CVE-2016-1000031)</a></li>
                          <li><a href="#">【漏洞预警】最新Apache Struts远程代码执行漏洞(CVE-2016-1000031)</a></li>
                        </ul>
                        <p><a href="#">更多</a></p>
                      </el-tab-pane>
                      <el-tab-pane label="升级" name="2">
                        <ul class="index-notice__list">
                          <li><a href="#">【升级】11月11日.com/.net注册局维护通知</a></li>
                          <li><a href="#">【升级】11月11日.com/.net注册局维护通知</a></li>
                          <li><a href="#">【升级】11月11日.com/.net注册局维护通知</a></li>
                        </ul>
                        <p><a href="#">更多</a></p>
                      </el-tab-pane>
                      <el-tab-pane label="安全" name="3">
                        <ul class="index-notice__list">
                          <li><a href="#">【备案】云虚拟主机产品备案策略调整通知</a></li>
                          <li><a href="#">【备案】云虚拟主机产品备案策略调整通知</a></li>
                          <li><a href="#">【备案】云虚拟主机产品备案策略调整通知</a></li>
                        </ul>
                        <p><a href="#">更多</a></p>
                      </el-tab-pane>
                      <el-tab-pane label="备案" name="4">
                        <ul class="index-notice__list">
                          <li><a href="#">【漏洞预警】最新Apache Struts远程代码执行漏洞(CVE-2016-1000031)</a></li>
                          <li><a href="#">【漏洞预警】最新Apache Struts远程代码执行漏洞(CVE-2016-1000031)</a></li>
                          <li><a href="#">【漏洞预警】最新Apache Struts远程代码执行漏洞(CVE-2016-1000031)</a></li>
                        </ul>
                        <p><a href="#">更多</a></p>
                      </el-tab-pane>
                      <el-tab-pane label="其他" name="5">
                        <ul class="index-notice__list">
                          <li><a href="#">【其他】云盾内容安全商业化通知</a></li>
                          <li><a href="#">【其他】云盾内容安全商业化通知</a></li>
                          <li><a href="#">【其他】云盾内容安全商业化通知</a></li>
                        </ul>
                        <p><a href="#">更多</a></p>
                      </el-tab-pane>
                    </el-tabs>
                  </div>
                </div>
              </div>
              <div class="index-section">
                <div class="aui-panel">
                  <div class="aui-panel__hd clearfix">
                    <span>管理助手</span>
                    <a href="#" class="f-right fz-xs">查看更多</a>
                  </div>
                  <div class="aui-panel__bd">
                    <a href="#" class="index-block index-block--level">
                      <div class="index-block__hd">工单</div>
                      <div class="index-block__bd"><em class="index-block__value">0</em></div>
                    </a>
                    <a href="#" class="index-block index-block--level">
                      <div class="index-block__hd">续费</div>
                      <div class="index-block__bd"><em class="index-block__value">0</em></div>
                    </a>
                    <a href="#" class="index-block index-block--level">
                      <div class="index-block__hd">未支付订单</div>
                      <div class="index-block__bd"><em class="index-block__value">0</em></div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="index-section">
                <div class="aui-panel">
                  <div class="aui-panel__bd">
                    <el-button class="aui-button--dashed w-100">
                      <svg class="icon-svg fz-base" aria-hidden="true"><use xlink:href="#icon-time-circle"></use></svg>
                      <span class="va-middle">定制资讯</span>
                    </el-button>
                  </div>
                </div>
              </div>
            </el-col>
          </el-row>
        </div>
      </main>
      <!-- aui-footer -->
      <include src="../templates/layout-footer.html"></include>
    </template>
  </div>
  <include src="../templates/html-scripts.html" path=".."></include>
  <script>
    (function () {
      var vm = window.vm = new Vue({
        el: '.aui-wrapper',
        data: function () {
          return {
            loading: true,
            // 头部, 皮肤 (white 白色 / colorful 鲜艳)
            headerSkin: 'colorful',
            // 头部, 固定状态
            headerFixed: false,
            // 侧边, 皮肤 (white 白色 / dark 黑色)
            asideSkin: 'dark',
            // 侧边, 固定状态
            asideFixed: false,
            // 侧边, 折叠状态
            asideFold: false,
            // 侧边, 菜单选中
            asideMenuActive: 'home',
            // 搜索
            searchVisible: false,
            search: '',
            // 侧边管理控制
            asideControlFixed: false,
            asideControlOpen: false,
            asideControlTabsActive: 'layout',
            // 主标签页
            mainTabs: [],
            mainTabsActive: 'home',
            mainTabsHeaderFixed: false,
            // 皮肤
            skin: 'orange',
            skinList: [
              { name: 'blue'     , color: '#3E8EF7', remark: '蓝色' },
              { name: 'brown'    , color: '#997B71', remark: '棕色' },
              { name: 'cyan'     , color: '#0BB2D4', remark: '青色' },
              { name: 'gray'     , color: '#757575', remark: '灰色' },
              { name: 'green'    , color: '#11C26D', remark: '绿色' },
              { name: 'indigo'   , color: '#667AFA', remark: '靛青色' },
              { name: 'orange'   , color: '#EB6709', remark: '橙色' },
              { name: 'pink'     , color: '#F74584', remark: '粉红色' },
              { name: 'purple'   , color: '#9463F7', remark: '紫色' },
              { name: 'red'      , color: '#FF4C52', remark: '红色' },
              { name: 'turquoise', color: '#17B3A3', remark: '蓝绿色' },
              { name: 'yellow'   , color: '#FCB900', remark: '黄色' }
            ],
            indexNoticeTabsActive: '1',
            indexPersonalTabsActive: '1'
          }
        },
        watch: {
          headerFixed: function (val) {
            if (!val) {
              vm.asideControlFixed = false;
              vm.mainTabsHeaderFixed = false;
            }
          },
          asideControlFixed: function (val) {
            if (val) {
              vm.headerFixed = true;
            }
          },
          mainTabsHeaderFixed: function (val) {
            if (val) {
              vm.headerFixed = true;
            }
          }
        },
        beforeCreate () {
          vm = this;
        },
        created () {
          vm.loading = false;
          vm.$nextTick(function () {
            // 搜索, 显示／隐藏
            vm.$refs.auiSearchMenu.$el.addEventListener('click', function (e) {
              e.cancelBubble = true;
            });
            vm.$refs.auiSearch.addEventListener('click', function (e) {
              e.cancelBubble = true;
            });
            window.addEventListener('click', function (e) {
              if (vm.searchVisible) {
                vm.searchVisible = false;
              }
            });
          });
        },
        methods: {
          // 跳转页面
          gotoPageHandle: function (url) {
            window.location.href = url;
          },
          // 皮肤切换
          skinChangeHandle: function (val) {
            var styleList = [
              {
                id: 'J_elementTheme',
                url: '../element-theme/' + val + '/index.css?t=' + new Date().getTime()
              },
              {
                id: 'J_auiSKin',
                url: '../css/aui-' + val + '.min.css?t=' + new Date().getTime()
              }
            ]
            for (var i = 0; i < styleList.length; i++) {
              var el = document.querySelector('#' + styleList[i].id)
              if (el) {
                el.href = styleList[i].url
                continue
              }
              el = document.createElement('link')
              el.id = styleList[i].id
              el.href = styleList[i].url
              el.rel = 'stylesheet'
              document.querySelector('head').appendChild(el)
            }
          }
        }
      });
    })();
  </script>
</body>
</html>
