.aui-footer {
  position: relative;
  height: $footer--height;
  padding:  $footer--padding-y $footer--padding-x;
  margin-left: $aside--width;
  text-align: center;
  box-shadow: $footer--shadow;
  color: $color--text-secondary;
  transition: margin-right .3s, margin-left .3s;
  p {
    margin: 10px 0;
  }
  a {
    padding: 0 5px;
  }
}